<section class="food-photography-contact no-d">
  <h2 class="food-photography-title text-center extra-light">Graag op de hoogte blijven van nieuws en insights?</h2>
  <form class="subscription-form flex-box" action="index.html" method="post">
    <input type="email" name="Email" value="" placeholder="Jouw e-mailadres" class="email-input" required />
    <label class="submit-label flex-box justify-center align-center">
    <input type="submit" name="Submit" value="" class="email-submit no-disp medium" />
    <div class="submit-svg">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="14px" height="24px" viewBox="0 0 14 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Path</title>
          <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
              <g id="Home-Lightbox-01" transform="translate(-1667.000000, -556.000000)" stroke="#000000">
                  <polyline id="Path" transform="translate(1674.000000, 568.000000) scale(-1, 1) rotate(90.000000) translate(-1674.000000, -568.000000) " points="1662 562 1674 574 1686 562"></polyline>
              </g>
          </g>
      </svg>
    </div>
    </label>
  </form>
</section>

<section class="food-photography-contact no-t-m">
  <h2 class="food-photography-title text-center extra-light">Graag op de hoogte blijven van nieuws en insights?</h2>
  <form class="subscription-form flex-box" action="index.html" method="post">
    <input type="email" name="Email" value="" placeholder="Jouw e-mailadres" class="email-input" required />
    <input type="submit" name="Submit" value="inschrijven" class="email-submit medium" />
  </form>
</section>
