<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assign title = site.title %}
    <title>
      {% if {{page.title}} %}
        {{page.title}} | {{title}}
      {% else %}
        {{ title }}
      {% endif %}
    </title>
  <meta name="description" content="{{ description }}">

  <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta property="twitter:image:src" content="{{ image }}">
    {% if site.twitter_username %}
        <meta name="twitter:site" content="@{{ site.twitter_username }}">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Android Lolipop Theme Color -->
  <meta name="theme-color" content="#141414">

  <!-- Fonts -->
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/metropolis" type="text/css"/>


    <link rel="canonical" href="{{ url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="stylesheet" href="{{ '/studioballena_theme/static/lib/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/studioballena_theme/static/lib/css/lightbox.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/studioballena_theme/static/lib/css/slick.css' | relative_url }}">

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

</head>
