<section class="more-projects">
  <h2 class="more-projects-title text-center extra-light">
    Bekijk meer projecten
  </h2>
  <div class="project-types flex-box justify-between no-t-m">
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        product
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        food
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        architectuur
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        bedrijf
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        drone
      </div>
    </a>
  </div>

  <div class="project-types flex-box justify-between no-d">
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        product
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        food
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        architectuur
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        bedrijf
      </div>
    </a>
    <a href="{{ '/drone' | relative_url }}" class="project-type flex-box align-center">
      <div class="project-type-img">
        <img src="{{ '/studioballena_theme/static/imgs/food-item.png' | relative_url }}" alt="product-img" />
      </div>
      <div class="project-type-name">
        drone
      </div>
    </a>
  </div>
</section>
