<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="body-tag">
        {% include header.html %}
            <main class="main normal-top" role="main">
                {{ content }}
            </main>
        {% include footer.html %}
        <div id="go-to-top" class="no-d">
          TOP
        </div>
        <div class="bottom-mobile-links no-d flex-box">
          <a href="mailto:info@deardigital.be" class="mail-link flex-box justify-center align-center">
            <span class="mail-text">mail</span>
            <span class="mail-svg"></span>
          </a>
          <a href="tel:555-555-5555" class="call-link flex-box justify-center align-center">
            <span class="call-text">bel</span>
            <span class="call-svg"></span>
          </a>
        </div>

        <script>
        $('#go-to-top').click(function() {
          window.scrollTo(0, 0);
        });
        </script>
    </body>

</html>
